.container{
	display: grid;
	grid-template-columns: : 1fr;
	grid-template-rows: auto auto auto;
}

.skip a{
	background: white;
	left: 0;
	padding: 6px;
	position: absolute; 
	top: -40px;   
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
}

.skip a:focus {
  top: 0px;
}

/*nav*/
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;

}


h2,
h3,
a {
	color: black;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: yellow;
}

.main-nav a {
	color: white;
	font-size: .99em;
}

.main-nav a:hover {
	color: yellow;
}


.header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #000080;
}

/*nav end*/

p{
	line-height: 2em;
}

h1{
	text-align: center;
	font-size: 3em;
	padding-left: 1em;
	padding-right: 1em;

}

h2{
	color: #000080;
	font-size: 2em;
	padding-bottom: .5em;
	padding-top: .5em;
	padding-left: 1em;
}

h3{
	font-style: italic;
	color: blue;
	padding-bottom: .5em;
	padding-top: .5em;
	padding-left: 2em;
}


@media (min-width: 600px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
}
