.container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
}

.skip a{
	background: white;
	left: 0;
	padding: 6px;
	position: absolute; 
	top: -40px;   
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
}

.skip a:focus {
  top: 0px;
}

/*nav*/
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;

}


h2,
h3,
a {
	color: black;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
	color:#ffcb05;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #ffcb05;
}

.main-nav a {
	color: white;
	font-size: .99em;
}

.main-nav a:hover {
	color: #ffcb05;
}


.header {
	grid-column: 1/-1;
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #00274c;
}

/*nav end*/

p{
	line-height: 2em;
}

h1{
	text-align: center;
	font-size: 3em;
	padding-left: 1em;
	padding-right: 1em;

}

h2{
	color: #000080;
	font-size: 2em;
	padding-bottom: .5em;
	padding-top: .5em;
	padding-left: 1em;
}

h3{
	font-style: italic;
	color: blue;
	padding-bottom: .5em;
	padding-top: .5em;
	padding-left: 2em;
}

a{
	color: blue;
}

a:hover {
	text-decoration: underline;
}


/* Chloe's work */
.click{
	background-color: yellow; 
	border-radius: 8px;
	color: white;
	font-size: 30px;
	grid-column: 1 / span 3;
	text-align: center;
	padding: 30px;
	/*text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	justify-self: center;
	margin: 0 auto;*/

}

.java {
	background-color: #000080;
	color: yellow;
	grid-column: 2 / span 1;
	padding: 30px;
}

.java h2 {
	color: yellow;
}

#heading{
	background-attachment: fixed; /* Parallax effect */
	background-image: url(../images/engr100-600.jpg);      /* Your code here - Link to header.jpg in the images folder */
	background-position: center;  /* Parallax effect */
	background-repeat: no-repeat; /* Parallax effect */
	background-size: cover;       /* Parallax effect */
	color: white;
	height: 200px;                /* Parallax effect */
	grid-column: 1 / -1;
	grid-row: 2 / 3;
}

#heading h1{
	color: black;
}

.teaching-page p{
	padding-left: 2em;
	padding-right: 1em;
}

.course-title{
	color: #000080;
	background-color: yellow;

}
/*chloe's part ends in this section */

@media (max-width: 600px){
	/*chloe's work*/
	.laura-in-class{
		display: none;
	}

	.peggy-image{
		display: none;
	}

	.engr100-image{
		display: none;
	}

	.engr101-image{
		display: none;
	}

	#heading{
		display: none;
	}
	/*chloe's work ends*/
}


@media (min-width: 600px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}/*chloe's part starts (courses page and teaching page)*/
	.courses-page{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto auto auto auto;
	}

	.course-title{
		display: none;
	}

	#heading{
		height: 500px;
		grid-row: 1 / span 1;
	}

	#heading h1{
		padding-top: 150px;
		font-size: 4.5em;
	}

	.courses-page h2{
		text-align: center;
	}

	.courses-page p{
		padding-left: 20px;
		padding-right: 20px;
	}

	.course-description{
		grid-row: 2 / span 1;
		grid-column: 1 / span 2;
		background-color: yellow;
	}

	.should-take{
		grid-row: 2 / span 1;
		grid-column: 3 / span 2;
		background: #000080;
	}

	.should-take h2{
		color: yellow;
	}

	.should-take p{
		color: white;
	}

	.courses-page-second{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto ;

/*		flex-wrap: wrap;
		flex-direction: row;
		grid-gap: 20px;
		justify-content: space-between;
		margin:10 15px;*/
	}

	.courses-page-second p{
		padding-left: 20px;
		padding-right: 20px;
	}

	.course-structure{
		grid-column: 2 / span 2;
	}

	.project{
		grid-column: 2 / span 2;
	}

	.course-content{
		grid-column: 2 / span 2;
	}

	.java{
		grid-column: 1 / span 4;
	}

/*begin css for teaching page*/
	.teaching-page{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto 100px;
	}

	.naval-engr-image{
		display: none;
	}

	.teaching-page p{
		padding-left: 2.5em;
		padding-right: none;
	}

	.teaching{
		grid-row: 1 / span 1;
		grid-column: 1 / span 2;
	}

	.philosophy{
		grid-row: 3 / span 1;
		grid-column: 1 / span 2;
	}

	.courses{
		grid-row: 4 / span 1;
		text-align: center;
		grid-column: 1 / span 2;
	}

	.course-1{
		grid-column: 1 / span 1;
		grid-row: 6 / span 1;
		padding-right: 2em;
		padding-left: 2em;
		padding-top: 2em;
	}

	.engr100-image{
		grid-column: 1 / span 1;
		grid-row: 5 / span 1;
		margin-top: 6em;
		margin-right: 6em;
		margin-left: 6em;
	}	

	.engr101-image{
		grid-column: 2 / span 1;
		grid-row: 5 / span 1;
		margin-top: 7.5em;
		margin-right: 6em;
		margin-left: 6em;
	}	

	.course-2{
		grid-column: 2 / span 1;
		grid-row: 6 / span 1;
		padding-top: 2em;
		padding-right: 2em;
		padding-left: 2em;
	}

	.past-courses{
		grid-row: 7 / span 1;
		grid-column: 1 / span 2;
	}

	.peggy-image{
		grid-row: 8 / span 1;
		grid-column: 2 / span 1;
		margin-bottom: 5em;
		margin-left: 5em;
		margin-right: 5em;
		margin-top: 3em;
	}

	.laura-in-class{
		grid-row: 8 / span 1;
		grid-column: 1 / span 1;

	}


@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}


/*chloe's part starts*/

	.laura-in-class{
		margin-top: 13em;
		grid-row: 8 / span 1;
		grid-column: 1 / span 1;
		margin-bottom: 12em;
		margin-left: 12em;
		margin-right: 12em;
		margin-top: 5em;
	}
	.laura-in-class h2{
		text-align: center;
	}

	.peggy-image{
		grid-row: 8 / span 1;
		grid-column: 2 / span 1;
		margin-bottom: 12em;
		margin-left: 12em;
		margin-right: 12em;
		margin-top: 5em;
	}
/*chloe's part ends*/
}

/*Eldon's part starts*/

.this-is-me{
  	display: grid;
  	grid-row-gap: 15px;
  	grid-template-columns: 10% auto 10%;
  	width: auto;
	grid-template-rows: auto auto auto;
}

#home{
	grid-column: 2/3;
}

p{
	grid-column: 2/3;
	line-height: 2em;
	padding: 30px;
}

h1{
	grid-column: 2/3;
	text-align: center;
	font-size: 2em;
	padding-left: 1em;
	padding-right: 1em;

}

h2{
	color: #000080;
	font-size: 2em;
	padding-bottom: .5em;
	padding-top: .5em;
	padding-left: 1em;
}

h3{
	font-style: italic;
	color: 00274c;
	padding-bottom: .5em;
	padding-top: .5em;
	padding-left: 2em;
}

h4{
	padding-bottom: 10px;
}

.portrait{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 10px;
}

footer{
	grid-column: 2 / 3;
	background-color: white;
	color: black;
	text-align: center;
	font-size: 12px;
	grid-row: -1;
}



/*tandem page*/

.tandem{
  	display: grid;
  	grid-row-gap: 15px;
  	grid-template-columns: 10% auto 10%;
  	width: auto;
	grid-template-rows: auto auto auto auto auto auto auto 270px;

}
.disc_list{
	grid-column: 2/3;
}
.circle_list{
	grid-column: 2/3;
}
.videoWrapper{
	grid-column: 2/span 1;

  	position: relative;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	padding-top: 50px;
  	padding-bottom: 50px;
  	padding-left: 60px;

}
.videoWrapper iframe {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Katie's code starts  */

/* Interesting Links */
.container{
	display:grid;
	grid-template-columns: 10% auto auto 10%;
	grid-template-rows: auto auto auto auto auto;
}

.collapsible1 {
	background-color: #000080;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border:16px solid white;
	border-bottom: none;
	text-align: left;
	outline: none;
	font-size: 15px;	
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
}

.collapsible2 {
	background-color: #000080;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border:16px solid white;
	border-bottom: none;
	text-align: left;
	outline: none;
	font-size: 15px;	
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
}

.active, .collapsible1:hover {
	background-color: #020258;
}

.active, .collapsible2:hover {
	background-color: #020258;
}

.content-w {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #d3d3e9;
	border:16px solid white;
	border-top: none;
	border-bottom: none;
}

.content-u {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #d3d3e9;
	border:16px solid white;
	border-top: none;
	border-bottom: none;
}

#main {
	text-align: center;
	grid-column:2/span 2;
	grid-row: 1/span 1;
}

.time-waster {
	grid-column:2/span 1;
	grid-row: 2/span 2;
}

.actually-useful {
	grid-column:3/span 1;
	grid-row: 2/span 2;
}
/* Interesting links ends */

/* Research */
#main {
	grid-column:2/span 2;
	grid-row: 1/span 1;
}

.philosophy {
	grid-column:2/span 2;
	grid-row: 2/span 1;
}

.active-r {
	grid-column:2/span 2;
	grid-row: 3/span 1;
}

.past {
	grid-column:2/span 2;
	grid-row: 4/span 1;
}

.no_openings {
	grid-column:2/span 2;
	grid-row: 5/span 1;
}

@media (min-width: 769px) {

	.header,
	.main-nav {
		grid-column: 1/-1;
		grid-row: 1/2;
		display: flex;
	}
	.portrait{
		width: 50%;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}
	.body{
		grid-column: 2/3;
	}
	h1{
	font-size: 3em;
	}
	.videoWrapper iframe{
		margin-right: 220px;

		grid-column: 1/2 !important;
		/*padding-right: 100px ;*/
		/*position: relative;*/
	}
/*	iframe{

		overflow: hidden;
		position: absolute;
		width: 100%;
		height:100%;
	}*/

}






@media (min-width: 1025px) {
	.portrait{
		width: 30%;
	}
	.header {
		grid-column: 1/-1;
		flex-direction: row;
		justify-content: space-between;
	}
	.body{
		grid-column:
	}
	h1{
		font-size: 3em;
	}
	.videoWrapper{
		/*padding-left: 60px;*/
		/*position: absolute;*/
	}

	/*chloe's part starts*/

	.laura-in-class{
		margin-top: 13em;
		grid-row: 8 / span 1;
		grid-column: 1 / span 1;
		margin-bottom: 12em;
		margin-left: 12em;
		margin-right: 12em;
		margin-top: 5em;
	}
	.laura-in-class h2{
		text-align: center;
	}

	.peggy-image{
		grid-row: 8 / span 1;
		grid-column: 2 / span 1;
		margin-bottom: 12em;
		margin-left: 12em;
		margin-right: 12em;
		margin-top: 5em;
	}
/*chloe's part ends*/
}
}
