.click{
	background-color: yellow;
	border-radius: 8px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	justify-content: center;
}

@media (min-width: 1025px){
	.teaching-page{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
	}

	.teaching{
		grid-row: 1 / span 1;
		grid-column: 1 / span 2;
	}

	.click{
		grid-row: 2 / span 1;
		grid-column: 1 / span 1;
	}

	.philosophy{
		grid-row: 3 / span 1;
		grid-column: 1 / span 2;

	}

	.courses{
		grid-row: 4 / span 1;
		text-align: center;
		grid-column: 1 / span 2;
	}

	.class-1{
		grid-column: 1 / span 1;
		padding: 2em;
	}

	.class-2{
		grid-column: 2 / span 1;
		padding: 2em;
	}

	.past{
		grid-row: 6 / span 1;
		grid-column: 1 / span 2;
	}
}
